html {
    font-size: 62.5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    text-align: center;
    font-size: 2rem;
}

body > h1 {
    max-width: 50%;
    margin: auto;
    padding: 1%;
}

nav {
    max-width: 63%;
    align-items: center;
    margin: auto;
    padding: 24px;
}

nav > div {
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    margin: auto;
}

.nav-item {
    border: solid black 3px;
    background-color: olivedrab;
    color: black;
    text-decoration: none;
    padding: 1%;
    width: 90%;
    margin: auto;
}

.intro {
    width: 66%;
    margin: auto;
    padding: 3%;
    font-size: 2rem;
}

.intro a {
    color: orangered;
    text-decoration: none;

}

.intro p {
    border: solid olivedrab 3px;
    background-color: lightgrey;
    width: 75%;
    margin: 0 12% 0 12%;
    padding: 1% 0 1% 0;
}

.main-content {
    background-color: sienna;
    max-width: 72%;
    margin: auto;
    padding: 3px;
}

.main-content > img {
    max-width: 90%;
    margin: auto;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-bottom: 2%;
}

.container {
    
    display: flex;
    flex-wrap: row nowrap;
    align-content: center;
    justify-content: space-evenly;
    
    margin: auto;
    width: 72%;
    height: 60%;
}

.container-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 30%;
    padding: 1%;
    margin: inherit;
}

.container-item2 {
    width: 30%;
    text-align: center;
}

.container-item img {
    width: 97%;
}

footer {
    width: 78%;
    margin: auto;
    background-color: lightgrey;
    border: solid sienna;
}

footer nav {
    width: 63%;
    align-items: space-between;
    margin: auto;
    padding: 24px;
}
    /* media 800px */
@media (max-width: 800px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        width: 78%;
        margin: auto;
        height: 30%;
    }
    
    .container-item {
        width: 50%;
        justify-content: center;

    }

    .container-item2 {
        width: 60%;
        
    }
}
    /* media 500px */
@media (max-width: 500px) {
    .intro {
        margin: auto;
        align-content: center;
    }
    
    .container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        
        justify-content: center;
        width: 72%;
        margin: auto;
        height: 30%;
    }
    
    .container-item {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: no wrap;
    }

    .container-item2 {
        margin: inherit;
    }

    footer {
        
        margin: auto;
        height: 10%;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        padding: 1%;
        margin: auto;
    }
